<% include header %>
  <div class="content-wrapper frames-live">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
      <div class="row ">
        <div class="col-12">
        <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>Quản Lý Live Code</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="reloads" width="100%" cellspacing="0">
                <tr>
                  <th>STT</th>
                  <th>Tiêu đề</th>
                  <th>Hình ảnh</th>
                  <th>Link</th>
                  <th>Trạng Thái</th>
                  <th>Hành động</th>
                  <th>Khác</th>
                </tr>
                <%var dem=0; data.forEach(item=>{ %>
                <tr>
                    <td><%= ++dem%></td>
                    <td><%= item.title%></td></td>
                    <td>
                        <img src="/uploads/<%= item.image%>" alt="">
                    </td>
                    <td><%- item.link%></td>
                    <td>
                        <div class="handle">
                          <% if(item.status){ %>
                            <div class="show-live ">
                                LIVE
                            </div>
                          <%}else{%>
                            <div class="show-rep">
                                Xem lại 
                            </div>
                          <%}%>
                        </div>
                    </td>
                    <td>
                    <div href="<%=item._id%>" class="btn btn-outline-danger StatusLive" data-status="<%= item.status%>">
                      <% if(item.status){ %> Tắt Stream <%}else{%> Mở Stream <%}%>
                    </div>
                    </td>
                    <td>
                        <div class="btn btn-group">
                            <a href="/admin/live/edit/<%= item._id%>" class="btn btn-outline-danger">Sửa</a>
                            <a href="/admin/live/del/<%= item._id%>" class="btn btn-outline-success">Xóa</a>
                        </div>
                    </td>
                </tr>
                <%})%>
            </table>
            <div class="handleOrther text-center">
              <div class="loaditem d-none"><img src="/uploads/load.gif" alt=""></div>
              <div class="btn btn-outline-danger shownews"   onclick="showNewsInterFace(this)">Xem Thêm</div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <script src="/javascripts/al.js"></script>
 <% include footer%>