<% include index_left %>
<!-- tab-first -->
<div class="tab-content">
    <div class="content-main ">
        <div class="value-search">
            <div class="result-search ">
                Danh Mục: <span class="badge badge-info"><%= ctgNews.name%></span>
            </div>
            <div class="key-search">
                <span class="key-main badge badge-info"></span> 
            </div>
        </div>
        <div class="av-content clearfix">
            <% dem=0;%>
                <% dataNews.forEach(item=>{%>
                    <% dem++;%>
                <div class="frames-news-main">
                    <div class="card text-white frames-news">
                        <a href="/news/<%= item.token%>.<%=item._id%>"><div class="img-news" style="background-image:url('/uploads/<%= item.image%>')"></div></a>
                        <div class="card-body">
                            <h4 class="card-title title-news"><a href="/news/<%=item.token%>.<%=item._id%>"><%= item.title%></a></h4>
                            <div class="card-text des-news"><%- item.description%></div>
                        </div>
                        <div class="card-footer">
                            <div class="evaluate">
                                <span class="quantity">
                                    <% if(item.view<10&&item.view>0){%>
                                        0<%= item.view%> 
                                    <% }else{ %> 
                                        <%= item.view%>
                                    <%}%> 
                                        lượt xem
                                </span>
                            </div>
                            <a href="/news/<%= item.token%>.<%=item._id%>"><div class="detail-news"><i class="fas fa-arrow-right"></i></div></a>
                        </div>
                    </div>
                </div>
                <%})%>
        </div>
        <div class="handleOrther text-center ">
            <div class="loaditem d-none"><img src="/uploads/load.gif" alt=""></div>
            <% if(dem==4){ %>
            <div class="btn btn-outline-danger shownews"  data-sl="<%= dem%>" data-GroupId="<%= ctgNews._id%>"  onclick="ShowGroupNews(this)">Xem Thêm</div>
            <%}%>
        </div>
        
    </div>
    <!-- content-main -->
  <% include index_right %>