<% include index_left %>
<%
function getDateTime(a) {
  var date = new Date(a);
  var weekday=date.getDay();
  var weekdayString="";
  switch(weekday){
      case 0:weekdayString="Thứ Hai";break;
      case 1:weekdayString="Thứ Ba";break;
      case 2:weekdayString="Thứ Tư";break;
      case 3:weekdayString="Thứ Năm";break;
      case 4:weekdayString="Thứ Sáu";break;
      case 5:weekdayString="Thứ Bảy";break;
      case 6:weekdayString="Thứ Chủ Nhật";break;
  }
  var hour = date.getHours();
  var hourString="";
  hour<12 ? hourString="AM":hourString="PM";
  hour = (hour < 10 ? "0" : "") + hour;
  var min  = date.getMinutes();
  min = (min < 10 ? "0" : "") + min;
  var sec  = date.getSeconds();
  sec = (sec < 10 ? "0" : "") + sec;
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  month = (month < 10 ? "0" : "") + month;
  var day  = date.getDate();
  day = (day < 10 ? "0" : "") + day;
//   hour + ":" + min + ":" + sec+" - "+day + "/" + month + "/" + year
  return weekdayString+", ngày "+day+"/"+month+"/"+year+" "+hour+":"+min+" "+hourString+" (GMT+7)";
}
%>
                <div class="tab-content news-detail">
                    <div class="content-main ">
                        <div class="news-title">
                                <%= news_detail.title%>
                        </div>
                        <div class="news-time">
                                <%= getDateTime(news_detail.create_at)%>
                        </div>
                        <div class="news-ctg">
                            <span class="ctg-name badge badge-dark">Danh Mục:</span> 
                            <span class="ctg-text"> 
                                <%= categorychild[0].name%> - 
                                <% categorychild[0].categorychild.forEach(item=>{ %>
                                    <%if(news_detail.categorychild_id.toString()===item._id.toString()){%>
                                        <a href="/groups/<%= item._id %>"><%= item.name %></a> 
                                    <%}%>
                                <%})%>
                            </span>
                        </div>
                        <div class="news-evaluate mt-1">
                            <div class="title">Đánh giá:</div>
                            <ul class="nav float-left">
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li class="active"><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                            <div class="text-evaluate"></div>
                        </div>
                        <div class="news-content mt-2">
                            <%- news_detail.news_detail%>
                        </div>
                        <div class="frames-comment mt-3">
                            <div class="card-header title">Bình luận về bài viết <i class="far fa-comments"></i></div>
                            <div class="fb-comments" data-href="https://b5f5e6ca.ngrok.io/news/<%= news_detail.token %>.<%= news_detail._id %>" data-numposts="5" width="100%"></div>
                        </div>
                        <div class="frames-news-other mt-3">
                            <div class="card text-left">
                              <div class="card-header">
                                  Bài viết liên quan <i class="fas fa-check"></i>
                              </div>
                              <div class="card-body">
                                 <ul>
                                    <% newsCtg.forEach(item=>{%>
                                        <li><a href="/news/<%= item.token%>.<%= item._id%>"><i class="fas fa-hand-point-right"></i> <%= item.title%></a></li>
                                    <%})%>
                                 </ul>
                              </div>
                            </div>
                        </div>
                        <div class="frames-news-other mt-3">
                            <div class="card text-left">
                              <div class="card-header">
                                  Bài gần đây <i class="fas fa-check"></i>
                              </div>
                              <div class="card-body">
                                 <ul>
                                    <% news_Other.forEach(item=>{%>
                                     <li><a href="/news/<%= item.token%>.<%= item._id%>"><i class="fas fa-hand-point-right"></i> <%= item.title%></a></li>
                                    <%})%>
                                 </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-main -->
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=854420028069993&autoLogAppEvents=1';
                    fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="frames-evaluate d-none">
                        
                        <div class="black" onclick="handleHiddenEvaluate(this)"></div>
                        <div class="handle-evaluate ">
                            <div class="title">Đánh giá bài viết</div>
                            <div class="result-evaluate clearfix">
                                <ul class="nav float-left">
                                    <li class="active"><i class="far fa-star"></i></li>
                                    <li class=""><i class="far fa-star"></i></li>
                                    <li class=""><i class="far fa-star"></i></li>
                                    <li class=""><i class="far fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                <div class="text-evaluate"></div>
                            </div>
                            <div class="t-evaluate">
                                <input type="text" class="form-control" id="name-Evaluate" placeholder="Tên Của Bạn">
                                <textarea placeholder="Nhập nội dung ..." maxlength="300" class="mt-1" id="content-Evaluate" onkeyup="checkValue(this)" ></textarea>
                                <div class="quantity-evaluate"><span class="kq">0</span>/300</div>
                            </div>
                            <div class="btn-group btn-submit" style="width:100%">
                                <div class="btn btn-outline-danger" onclick="handleHiddenEvaluate(this)">Hủy</div>
                                <div class="btn btn-outline-success submitEvaluate" onclick="submitEvaluate(this)" data-idNews="<%= news_detail._id %>">Đánh giá</div>
                                
                            </div>
                        </div>
                    </div>
                    <script>
                        var elm=document.querySelector(".submitEvaluate");
                        var url="/session/users";
                        
                        var loadMethodGet=(url,cb)=>{
                            if (window.XMLHttpRequest) {
                                //code for IE7+, Firefox, Chrome and Opera
                                xhr = new XMLHttpRequest();
                            }else {
                                //code for IE6, IE5
                                xhr = new ActiveXObject("Microsoft.XMLHTTP");
                            }
                            xhr.onreadystatechange = function() {
                                if (this.readyState == 4 && this.status == 200) {
                                    cb(this.responseText);
                                }
                            };
                            xhr.open("GET",url,true);
                            xhr.send();
                        }
                        let elementLogin=`
                            <div style="color:red;width:100%;text-align:center;">Vui lòng đăng nhập để đánh giá bài viết.</div>
                            <a class="btn btn-outline-success btn-block accessFlash" href="#form-dangnhap" data-toggle="modal">Đăng nhập ngay<i class="fas fa-users"></i></a>`;
                        loadMethodGet(url,res=>{
                            var res=JSON.parse(res);
                            if(!res.status){
                                elm.parentElement.innerHTML=elementLogin;
                            }
                        })
                    </script>
                    <% include index_right %>

                    