<% include index_left %>
                <!-- tab-first -->
                <div class="tab-content">
                    <div class="content-main ">
                        <div class="value-search">
                            <div class="result-search ">
                                Tìm thấy <span class="badge badge-info"><%= news.length%></span> kết quả.
                            </div>
                            <div class="key-search">
                                <span class="key-main badge badge-info"><%= keyword%></span> Từ khóa tìm kiếm
                            </div>
                        </div>
                        <div class="kav-content">
                            <% news.forEach(item=>{%>
                            <div class="frames-news-main">
                                <div class="card text-white frames-news">
                                    <a href="/news/<%= item.token%>.<%=item._id%>"><div class="img-news" style="background-image:url('./uploads/<%= item.image%>')"></div></a>
                                    <div class="card-body">
                                        <h4 class="card-title title-news"><a href="/news/<%=item.token%>.<%=item._id%>"><%= item.title%></a></h4>
                                        <div class="card-text des-news"><%- item.description%></div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="evaluate">
                                            <span class="quantity">3</span>
                                            <span class="element-evl like"><i class="far fa-thumbs-up"></i></span>
                                            <span class="quantity">3</span>
                                            <span class="element-evl heart"><i class="far fa-heart"></i></span>
                                        </div>
                                        <div class="detail-news"><i class="fas fa-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                        </div>
                        <div class="handleOrther text-center d-none">
                            <div class="loaditem"><img src="/uploads/load.gif" alt=""></div>
                        </div>
                    </div>
                    <!-- content-main -->
  <% include index_right %>